@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-5">
    <div class="col-12">
        <h3>Introduction</h3>
        <p>Hello everyone, today I'll be sharing a project I've been working on in .NET MVC exploring computer vision AI. I've focused on three key concepts: object identification, object segmentation, and live object detection. This project demonstrates the practical implementation of these concepts using the .NET framework, showcasing their potential and relevance in today's technology landscape.</p>
    </div>

    <div class="col-12">
        <h3></h3>
        <p></p>
    </div>

    <div class="col-12">
        <h3>Tech Stack</h3>
        <p>For this project, I utilized the following technology stack:</p>
        <ol>
            <li><b>Visual Studio:</b> As the primary integrated development environment (IDE) for .NET MVC development, Visual Studio provided a robust platform for building and testing our computer vision AI application.</li>
            <li><b>YOLO (You Only Look Once) Algorithm:</b> YOLO is a state-of-the-art, real-time object detection algorithm. By implementing YOLO in our project, we were able to achieve efficient and accurate object identification and segmentation.</li>
            <li><b>Bootstrap 5:</b> Bootstrap is a popular front-end framework for building responsive and mobile-first websites. By using Bootstrap 5, we ensured that our application had a modern and user-friendly interface.</li>
            <li><b>C#:</b> As the programming language for .NET development, C# provided the foundation for our application's backend logic and integration with the YOLO model.</li>
        </ol>
    </div>

    <div class="col-12">
        <h3></h3>
        <p></p>
    </div>
</div>
