@model IEnumerable<Tuple<float, string>>
@{
    ViewData["Title"] = "Object Identification";
}

<div class="row mt-3">
    <h2>Object Detection</h2>
    <div class="col-12 col-md-6">
        <form class="w-100 my-5" method="post" asp-controller="Home" asp-action="ObjectIdentification">
            <label for="txtImageUrl" class="form-label mt-4">Image Url</label>
            <input type="text" class="form-control mt-4" id="txtImageUrl" name="imageUrl" placeholder="Enter image url">
            <button type="submit" class="btn btn-primary mt-4">Upload</button>
        </form>
    </div>
</div>

@if(Model is not null)
{
    <div class="row">

        <div class="col-12 col-md-6">
            <img src="@TempData["ImageUrl"]" class="img-fluid" />
        </div>

        <div class="col-12 col-md-6">
            <ul class="list-group">
            @foreach(var i in Model)
            {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @i.Item2
                        <span class="badge bg-primary rounded-pill">@i.Item1</span>
                    </li>
            }
            </ul>
        </div>
    </div>
}